AOAI_KEY=your_azure_openai_key

# Tool credentials (example)
TOOL_1_BASE_URL=https://demo.geminidata.com/
TOOL_1_KEY=your_token
TOOL_1_RAG=VECTOR

TOOL_2_BASE_URL=https://demo.geminidata.com/
TOOL_2_KEY=your_token
TOOL_2_RAG=HYBRIDCOT
